<%= turbo_frame_tag 'new_tag' do %>  
  <%= form_with(model: tag, data: { controller: "autosubmit", autosubmit_target: "form" }) do |form| %>
    <% if tag.errors.any? %>
      <div class="text-danger">
        <h2><%= pluralize(tag.errors.count, "error") %></h2>
        <ul>
          <% tag.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= form.label :name, "Create Tag by Name:", class: "nowrap" %>
      <div class="d-flex flex-row justify-content-start align-items-center gap-3">
        <%= form.text_field :name, placeholder: "Name", class: "w-50" %>
        <%= form.submit "Create" %>
      </div>
    </div>
  <% end %>
<% end %>
