<nav class="navbar navbar-expand-md navbar-dark bg-um-blue">
  <div class="container-fluid" style="--bs-focus-ring-color:#E5E5E5;" >
    <%= link_to root_path, class: "a-nav focus-ring border-0 rounded-2" do %>
      <div id="Logo" class="d-flex align-items-center">
        <%= image_tag 'family.jpg', alt: 'Family Archive Logo', class: 'logo-brand' %>
        <div class="nav-title h-100">
          <%= t('menu.navbar.title') %>
        </div>
      </div>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBurgerMenu" aria-controls="navbarBurgerMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <!-- this is regular navbar-->
    <div class="collapse navbar-collapse d-none d-md-block">
      <% if authenticated? %>
        <div class="nav-item dropdown navbar_dropdown_item h-100 px-2 rounded-0 border-0">
          <a class="nav-link h-100 d-flex align-items-center fs-5 focus-ring border-0 rounded-2" style="--bs-focus-ring-color:#E5E5E5;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= t('menu.navbar.main') %>
          </a>
          <ul class="dropdown-menu bg-primary rounded-0 navbar_dropdown_item">
            <li>
              <%= link_to t('menu.navbar.tags'), tags_path, class: 'dropdown-item navbar_dropdown_item' %>
            </li>
            <li>
              <%= link_to t('menu.navbar.tag_types'), tag_types_path, class: 'dropdown-item navbar_dropdown_item' %>
            </li>
            <li>
              <%= link_to t('menu.navbar.items'), items_path, class: 'dropdown-item navbar_dropdown_item' %>
            </li>
          </ul>
        </div>
        <% if policy(AdminUser).index? %>
          <div class="nav-item dropdown navbar_dropdown_item h-100 px-2 rounded-0 border-0">
            <a class="nav-link h-100 d-flex align-items-center fs-5 focus-ring border-0 rounded-2" style="--bs-focus-ring-color:#E5E5E5;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= t('menu.navbar.admin') %>
            </a>
            <ul class="dropdown-menu bg-primary rounded-0 navbar_dropdown_item">
              <li>
                <%= link_to t('menu.navbar.upload_files'), upload_files_page_path, class: 'dropdown-item navbar_dropdown_item' %>
              </li>
              <li>
                <%= link_to t('menu.navbar.bulk_assign_tags'), editing_tags_page_items_path, class: 'dropdown-item navbar_dropdown_item' %>
              </li>
              <li>
                <%= link_to t('menu.navbar.admin_users'), admin_users_path, class: 'dropdown-item navbar_dropdown_item' %>
              </li>
            </ul>
          </div>
        <% end %>
      <% end %>

      <div class="nav-item navbar_dropdown_item h-100 px-2 rounded-0 border-0">
        <div class="d-flex align-items-center justify-content-between">
          <% 
            other_locale = I18n.locale == :en ? :ru : :en
            locale_name = other_locale == :en ? 'English' : 'Русский'
          %>
          <%= link_to locale_name, url_for(locale: other_locale), class: 'nav-link fs-5 focus-ring border-0 rounded-2 text-decoration-none', style: "--bs-focus-ring-color:#E5E5E5;" %>
        </div>
      </div>

      <% if authenticated? %>
        <div class="nav-item dropdown navbar_dropdown_item h-100 px-2 mr-2 rounded-0 border-0 hide-on-mobile ms-auto">
          <a class="nav-link h-50 d-flex align-items-center focus-ring border-0 rounded-2 body-md-text p-2 mt-3 hide-on-mobile nav-user" style="--bs-focus-ring-color:#E5E5E5;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= display_user_with_role(current_user) %>
          </a>
          <div class="d-flex flex-row justify-content-center align-items-center mt-2">
            <%= link_to t('menu.navbar.sign_out'), session_path, 
              method: :delete, 
              data: { turbo_method: :delete, turbo_confirm: t('forms.confirmation.are_you_sure') },
              class: "btn btn-sign" 
            %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
  <!-- this is the hamburger menu-->
  <div class="collapse navbar-collapse d-md-none" id="navbarBurgerMenu">
    <%= link_to t('menu.navbar.about'), about_path, class: 'dropdown-item navbar_dropdown_item font-weight: bold' %>
  </div>
</nav>
