<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>FamilyArchive</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <main class="container mx-auto px-4 px-sm-8 pb-5">
        <turbo-frame id="flash">
          <%= render 'layouts/notification' %>
        </turbo-frame>
      </div>
      <div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
